nav {
	background-color: #232427;
}

footer {
	background-color: #232427;
}

.btn.btn-blurple, .btn.btn-blurple:active {
	background-color: #7289da;
	border: 1px solid #7289da;
	color: #fff;
}

body, html {
	background-color: #26262b;
	font-family: 'Open Sans', Calibri, serif;
	font-size: 14px;
	font-weight: 300;
	color: hsla(0,0%,100%,.6);
}

header.masthead {
	background: url("https://cdn.discordapp.com/attachments/322814945668497410/774254212820238386/Ok.png") no-repeat center center;
	background-size: cover;
	position: relative;
	padding-bottom: 6rem; /* 16rem */
	padding-top: 6rem; /* 8rem */
}

.darkoverlay {
	background-color: rgba(0, 0, 0, 0.55);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.discord-badge {
	fill: #fff;
}

.singlebadge {
	margin-right: 6px;
}

.avatar {
	height: 120px;
	border-radius: 70px;
	margin-bottom: 10px;
}

.bio {
	margin-top: 10px;
	font-size: 25px;
}

.socials {
	
}